name: Release devcontainer features

on:
  workflow_dispatch: {}
  push:
    branches: [main]

jobs:
  publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Build devcontainer
        run: devcontainer up --workspace-folder .

      - name: Test Features
        run: devcontainer exec --workspace-folder . just test

      - name: Publish Features
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: "./src"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
